.container{
  
  width: 80vw; /* 80% of the viewport width */
  max-width: 1200px; /* maximum width for the container */
  height: 650px;

  /* add flex style */
  display: flex;
  justify-content: space-around;
  align-content: center;
  position: absolute ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.left-box{
  width: auto;  
  background: white;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.right-box {
  width: 50%;
  height: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.imgs{
  justify-content: center;
  align-items: center;
  width: 50%;
}   

.sign-pic{
  width: fit-content;
  height: 100%;
}

.h1 {
  font-weight: 800;
  color: #0054B3;
  text-align: left;
  font-size: 40px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  height: 50px;
  padding-left: 70px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f0f0f0;
  margin-top: 10px;
}

/* icons positoning starts*/
.name,
.email,
.passw,
.pass2 {
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 14px 0 0 20px;
}

/* icon positioning ends */

.form-group{
  padding-top: 20px;
}

.create-btn {
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #006CE6;
  cursor: pointer;
  margin-top: 10px;
}


.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 231, 231);
  width: 306px;
  height: 50px;
  margin: 20px auto;
  border-radius: 2px;
  overflow: hidden;
}

.slider{
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0%);
}
.slider.active{
  transform: translateX(-50%);
}
.slider-signup-btn{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 1px;
  margin-left: 1px;
  width: 150px;
  height: 46px;
  font-size: 15px;
  font-weight: 800;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: #006CE6;
  outline: none;
  cursor: pointer;
}

.slider-signin-btn{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 1px;
  margin-left: 1px;
  width: 150px;
  height: 48px;
  font-size: 15px;
  font-weight: 800;
  border: none;
  border-radius: 2px;
  color: rgb(8, 1, 1);
  outline: none;
  cursor: pointer;
}

.slider-btn:last-child {
  background-color: #b3b3b3;
}

.slider-btn:focus {
  box-shadow: 0px 0px 5px #0054b3;
}



/* Media Queries */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .left-box {
    width: 100%;
    margin: 20px 0;
  }

  .sign-pic {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .input {
    width: 100%;
    padding-left: 50px;
  }

 .h1 {
    font-size: 30px;
    text-align: center;
  }

  .slider-signup-btn,
  .slider-signin-btn {
    width: 120px;
    font-size: 12px;
  }
}


@media (max-width: 550px) {
  .h1 {
    font-size: 30px;
    text-align: center;
  }

  .h1 {
    font-size: 20px;
  }

  .slider-signup-btn,
  .slider-signin-btn {
    width: 100px;
    font-size: 10px;
  }
}

