@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #fafafa;
  font-family: Poppins;
}

.btn{
  color: white;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  padding: 8px 30px;
  size: auto;
}
.btn:hover{
  color: black;
  background-color: white;
  outline: black;
  transition: 0.15s;
  box-shadow: rgba(0, 0, 0, 0.15) 0 4px 12px;
}
