@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #fafafa;
  font-family: Poppins;
}

button.primary{
  @apply text-white py-2 px-4 bg-primary cursor-pointer ring-1 ring-primary rounded font-bold hover:bg-white hover:shadow-lg duration-75 hover:ring-primarydark hover:text-primary;
}
button.secondary{
  @apply flex items-center gap-2 text-primary py-2 px-4 bg-primarylight cursor-pointer ring-1 font-bold ring-primarylight rounded  hover:bg-primarydark hover:shadow-lg duration-75 hover:ring-primarydark hover:text-white;
}
div.input{
  @apply flex bg-background rounded w-full py-2.5 px-4 gap-4 items-center ;
}
input.input-et{
  @apply text-base bg-inherit text-black outline-none w-full;
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp:3 ; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}